services:
  protonmail-bridge:
    image: shenxn/protonmail-bridge
    expose:
      - "25"
      - "143"
    ports:
      - "1025:25/tcp"
      - "1143:143/tcp"
    cap_add: 
      - NET_BIND_SERVICE
    restart: on-failure:3
    secrets:
      - bridge_user
      - bridge_password
      - bridge_otp
    environment:
      # Remove these to require interactive login
      BRIDGE_USER_FILE: /run/secrets/bridge_user
      BRIDGE_PASSWORD_FILE: /run/secrets/bridge_password
      BRIDGE_OTP_FILE: /run/secrets/bridge_otp
      # The ports that the container will listen on for outside connections
      SMTP_PORT: 25
      IMAP_PORT: 143
      DISABLE_TELEMETRY: "true" # Disable telemetry collection. Default is "true".
      DISABLE_AUTO_UPDATE: "true" # Disable auto-updates to avoid breaking changes. Default is "true".
      USE_TLS: "true" # "true" uses STARTTLS for IMAP/SMTP connections. "false" uses SSL. Default is "true".
      INFO_DIR: /credentials # Optional: File to output email config info into instead of printing to console. Must be a mounted volume.
    volumes:
      - protonmail_data:/protonmail
      - ./credentials/:/credentials

volumes:
  protonmail_data:

secrets:
  bridge_user:
    environment: BRIDGE_USER
  bridge_password:
    environment: BRIDGE_PASSWORD
  bridge_otp:
    environment: BRIDGE_OTP